In [ ]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
fruits = ["apple","banana","cherry"]

for i in fruits:
   print(i)

apple
banana
cherry

In [ ]:
x = 0

for i in range(1,11):
    x += i

print(x)

55

In [ ]:
x = 0

for i in range(1,11):
    x += i
print(x)

55

In [ ]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
x = 0

for i in range(1,10):
    print(f"3 × {i} ={3 * i}")

3 × 1 =3
3 × 2 =6
3 × 3 =9
3 × 4 =12
3 × 5 =15
3 × 6 =18
3 × 7 =21
3 × 8 =24
3 × 9 =27

In [ ]:
x = 3

for i in range(1,10):
    print(f"3 × {i} = {x * i}")

3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27

In [ ]:
for dan in range(1, 10):  # 1 から 9 の段
    for i in range(1, 10):  # 1 から 9 を掛ける
        print(f"{dan} × {i} = {dan * i}")
    print()  # 段ごとに改行

1 × 1 = 1
1 × 2 = 2
1 × 3 = 3
1 × 4 = 4
1 × 5 = 5
1 × 6 = 6
1 × 7 = 7
1 × 8 = 8
1 × 9 = 9

2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
2 × 6 = 12
2 × 7 = 14
2 × 8 = 16
2 × 9 = 18

3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27

4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36

5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45

6 × 1 = 6
6 × 2 = 12
6 × 3 = 18
6 × 4 = 24
6 × 5 = 30
6 × 6 = 36
6 × 7 = 42
6 × 8 = 48
6 × 9 = 54

7 × 1 = 7
7 × 2 = 14
7 × 3 = 21
7 × 4 = 28
7 × 5 = 35
7 × 6 = 42
7 × 7 = 49
7 × 8 = 56
7 × 9 = 63

8 × 1 = 8
8 × 2 = 16
8 × 3 = 24
8 × 4 = 32
8 × 5 = 40
8 × 6 = 48
8 × 7 = 56
8 × 8 = 64
8 × 9 = 72

9 × 1 = 9
9 × 2 = 18
9 × 3 = 27
9 × 4 = 36
9 × 5 = 45
9 × 6 = 54
9 × 7 = 63
9 × 8 = 72
9 × 9 = 81

In [ ]:
music_genres = {
    "Rock": ["ジミ・ヘンドリックス","ジャニス・ジョプリン"],
    "Raggae": ["ボブ・マーリー","ピーター・トッシュ"],
    "Soul": ["スティービー・ワンダー","ダニー・ハサウェイ"]
    }

for genre, artists in music_genres.items():
    print(f"♫ {genre} ♫")
    for artist in artists:
          print(f" -{artist}")
    print()

♫ Rock ♫
 -ジミ・ヘンドリックス
 -ジャニス・ジョプリン

♫ Raggae ♫
 -ボブ・マーリー
 -ピーター・トッシュ

♫ Soul ♫
 -スティービー・ワンダー
 -ダニー・ハサウェイ